#show-campaign .campaign {
  word-break:break-all;
  clear: both;
}

#show-campaign .campaign-title,
#show-campaign .campaign-article {
  margin-top: 20px;
}

#show-campaign .campaign img {
  max-width: 100%;
}