#show-news-post .news-post {
  word-break:break-all;
  clear: both;
}

#show-news-post .news-post-title,
#show-news-post .news-post-article {
  margin-top: 20px;
}

#show-news-post .news-post img {
  max-width: 100%;
}