#show-petition .petition {
  word-break:break-all;
  clear: both;
}

#show-petition .petition-title,
#show-petition .petition-article {
  margin-top: 20px;
}

#show-petition .petition img {
  max-width: 100%;
}