#index-photos .photo-container {
  display: block;
  margin: 2.5%;
  width: 45%;
  height: auto;
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  float: left;
}

#index-photos .photo {
  width:100%;
}